/* styles.css */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar la posición en la pantalla */
    z-index: 1; /* Asegurarse de que esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa todo el ancho de la ventana */
    height: 100%; /* Ocupa todo el alto de la ventana */
    overflow: auto; /* Hacer que el modal sea desplazable si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
